<!DOCTYPE html>

<html>

<head>
    <title> About me</title>
    <link rel="icon" href="./img/mlicon2.png">

    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p style="text-align:justify">
            <img class="portrait other" align="left" src="./img/me.png">
            I'm a Computer Scientist Engineer! I went to study my doctorate in the University of North Carolina at Charlotte in the USA.
    There, my dissertation focused on studying how to capture mechanical properties of macromolecules by means of graph theory and mean field approximations. 
        </p>
        <p style="text-align:justify">
    Currently I'm a professor at the Universidad
    Autónoma de Chihuahua, in northern México, where I teach subjects like Mathematics for Computer Science, Algorithm Analysis, Machine Learning an Artificial Intelligence, both
    for graduate and undergraduate level. 
    </p>
    <p style="text-align:justify">
        My research interest lie in the design and use of Machine Learning models to offer solutions to problems in the fields of Hidrology, Transportation,
        Steel Industry, Natural Language and Sport trading. In 2017 I received a Research award by Google (only 3 were given in the whole nation) to develop
        a machine learning model to run on smartphones to identify current status of road infrastructure. 
    </p>
    <p style="text-align:justify">
       I belong to the National Systems of Researchers in México (SNI), level 1, sponsored by the National Counsil of Science and Technology. I'm also member of the research group
       of Systems and Computation in our University. I regularly have open positions for students who want to develop projects or thesis under my supervision, send me an email if interested: <span style="color: red;"> lcgonzalez at remove-this! uach dot mx </span>
    </p>
    </div>
    
    {{>footer}}
</body>


</html>