<!DOCTYPE html>

<html>

<head>
    <title> Other stuff</title>
    <link rel="icon" href="./img/mlicon2.png">
    <link rel="stylesheet" href="./css/styles.css"> 

</head>

<body>
        <div class="main-content">

            {{>header}}

            Here you can download the presentation <a href="./docs/ULSA_Tonto_Adquiere_Inteligencia.pdf">"Cuando Algo Tonto Adquiere Inteligencia -- AI en VideoJuegos y AI en Redes Sociales"></a>

        </div>
    
    {{>footer}}
</body>


</html>