<!DOCTYPE html>

<html>

<head>
    <title> Other stuff</title>
    <link rel="icon" href="./img/mlicon2.png">
    <link rel="stylesheet" href="./css/styles.css"> 

</head>

<body>
        <div class="main-content">

            {{>header}}

            Still thinking what am I missing... be patient ;)
        </div>
    
    {{>footer}}
</body>


</html>