<!DOCTYPE html>

<html>

<head>
    <title> Publications </title>
    <link rel="icon" href="./img/mlicon2.png">
    <link rel="stylesheet" href="./css/styles.css"> 

</head>

<body>
        <div class="main-content" >

            {{>header}}

        <ol reversed>
            <b> <center> 2021 </center></b>
            <br>
            <li> Detecting Traces of Self-harm in Social Media: A Simple and Interpretable Approach. Juan Aguilera, Delia Irazú Hernández Farías, Manuel Montes-y-Gómez, Luis C González. Mexican International Conference on Artificial Intelligence, 196-207. </li>
            <li> <span style="color: blue;"> [Journal]. </span>Detecting Mental Disorders in Social Media Through Emotional Patterns-The case of Anorexia and Depression.
                ME Aragon, AP Lopez-Monroy, LCG Gonzalez-Gurrola, M Montes. IEEE Transactions on Affective Computing </li>
            <br><b> <center> 2020 </center></b><br>
            <li> <span style="color: blue;"> [Journal]. </span> Exploring Convolutional Neural Networks Architectures for the Classification of Hand-Drawn Shapes in Learning Therapy Applications
                D Ruiz Vazquez, G Ramírez Alonso, LC González Gurrola. Computación y Sistemas 24 (4), 1483-1497 </li>
            <li> Brain Tumor Segmentation using an Encoder-Decoder Network with a Multiscale Feature Module. O Prieto-Ordáz, G Ramírez-Alonso, LC González, 
                R López-Santillán. 2020 IEEE International Autumn Meeting on Power, Electronics and Computing. </li>
            <li> Attention to Emotions: Detecting Mental Disorders in Social Media. ME Aragón, AP López-Monroy, LC González, M Montes-y-Gómez. International Conference on Text, Speech, and Dialogue, 231-239 </li>
            <li> UACh at MEX-A3T 2020: Detecting Aggressive Tweets by Incorporating Author and Message Context. M Casavantes, R López, LC González-Gurrola. IberLEF@ SEPLN, 273-279</li>
            <li> <span style="color: blue;"> [Journal]. </span> From neighbors to strengths-the k-strongest strengths (kSS) classification algorithm. J Aguilera, LC González, M Montes-y-Gómez, R López, HJ Escalante. Pattern Recognition Letters 136, 301-308</li>
            <li> <span style="color: blue;"> [Journal]. </span> Richer Document Embeddings for Author Profiling tasks based on a heuristic search. R López-Santillán, M Montes-Y-Gómez, LC González-Gurrola. Information Processing & Management 57 (4), 102227</li>

            <br> <b> <center> 2019 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Becoming smarter at characterizing potholes and speed bumps from smartphone data - Introducing a second-generation inference problem. R Carlos, LC Gonzalez, J Wahlström, R Cornejo, F Martínez. IEEE Transactions on Mobile Computing</li>
            <li> <span style="color: blue;"> [Journal]. </span> How smartphone accelerometers reveal aggressive driving behavior?—The key is the representation. MR Carlos, LC González, J Wahlström, G Ramírez, F Martínez, G Runger. IEEE Transactions on Intelligent Transportation Systems 21 (8), 3377-3387</li>
            <li> <span style="color: blue;"> [Journal]. </span> Bagging-RandomMiner: A one-class classifier for file access-based masquerade detection. JB Camiña, MA Medina-Pérez, R Monroy, O Loyola-González. Machine Vision and Applications 30 (5), 959-974</li>
            <li> Detecting depression in social media using fine-grained emotions. ME Aragón, AP López-Monroy, LC González-Gurrola, M Montes. Proceedings of the 2019 Conference of the North American Chapter of the …</li>
            <li> UACh-INAOE at HASOC 2019: Detecting Aggressive Tweets by Incorporating Authors' Traits as Descriptors. M Casavantes, R López, LC González-Gurrola, M Montes-y-Gómez. FIRE (Working Notes), 300-307</li>
            <li> An Evolutionary Approach to Build User Representations for Profiling of Bots and Humans in Twitter. JR López-Santillán, LC González-Gurrola, M Montes Y Gómez. CLEF 2019 Labs and Workshops, Notebook Papers. CEUR-WS.org, 2019</li>
            <li> UACh at MEX-A3T 2019: Preliminary Results on Detecting Aggressive Tweets by Adding Author Information Via an Unsupervised Strategy. M Casavantes, R López-Santillán, LC González. Proceedings of the First Workshop for Iberian Languages Evaluation Forum …</li>
            <li> An Optimization Vehicle Routing Problem Approached by Bio-inspired Algorithms—A Real Case Study. E Matos, F Gaxiola, LC González-Gurrola, A Manzo-Martinez. Applied Decision-Making, 27-44</li>
            
            <br> <b> <center> 2018 </center></b> <br>
            <li> A new weighted k-nearest neighbor algorithm based on newton’s gravitational force. J Aguilera, LC González, M Montes-y-Gómez, P Rosso. Iberoamerican Congress on Pattern Recognition, 305-313</li>
            <li> Custom document embeddings via the centroids method: Gender classification in an author profiling task. R López-Santillán, L Gonzalez-Gurrola, G Ramfrez-Alonso. Proceedings of the Ninth International Conference of the CLEF Association.</li>
            <li> <span style="color: blue;"> [Journal]. </span> A genetic programming approach for driving score calculation in the context of intelligent transportation systems. JR López, LC González, J Wahlström, MM y Gómez, L Trujillo. IEEE Sensors Journal 18 (17), 7183-7192</li>
            <li> <span style="color: blue;"> [Journal]. </span> How am i driving? Using genetic programming to generate scoring functions for urban driving behavior. R López, LC González Gurrola, L Trujillo, O Prieto, G Ramírez, A Posada. Mathematical and Computational Applications 23 (2), 19</li>
            <li> <span style="color: blue;"> [Journal]. </span> Evaluation of Detection Approaches for Road Anomalies Based on Accelerometer Readings—Addressing Who’s Who. MR Carlos, ME Aragón, LC González, HJ Escalante, F Martínez. IEEE Transactions on Intelligent Transportation Systems 19 (10), 3334-3343.</li>

            <br> <b> <center> 2017 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Learning roadway surface disruption patterns using the bag of words representation. LC González, R Moreno, HJ Escalante, F Martínez, MR Carlos. IEEE Transactions on Intelligent Transportation Systems 18 (11), 2916-2928.</li>
            <li> UACH-INAOE participation at eRisk2017. AA Farıas-Anzaldúa, M Montes-y-Gómez, AP López-Monroy. Proceedings Conference and Labs of the Evaluation Forum CLEF 1866</li>

            <br> <b> <center> 2016 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Time series analysis to forecast drought in the northwest side of Chihuahua, Mexico. D Villazón-Bustillos, HO Rubio-Arias, JÁ Ortega-Gutiérrez. Ecosistemas y recursos agropecuarios 3 (9), 307-315.</li>
            <li> Evaluating reorientation strategies for accelerometer data from smartphones for its applications. MR Carlos, LC González, F Martínez, R Cornejo. Ubiquitous Computing and Ambient Intelligence, 407-418</li>
            <li> A machine learning pipeline to automatically identify and classify roadway surface disruptions. ME Aragón, MR Carlos, LCG Gurrola, HJ Escalante. Proceedings of the Sixteenth Mexican International Conference on Computer.</li>
            <li> Are android smartphones ready to locally execute intelligent algorithms? MR Carlos, F Martínez, R Cornejo, LC González. Mexican International Conference on Artificial Intelligence, 15-25</li>
            <li> A statistical comparison of objective functions for the vehicle routing problem with route balancing. J Lozano, LC González-Gurrola, E Rodriguez-Tello, P Lacomme. 2016 Fifteenth Mexican international conference on artificial intelligence.</li>
            <li> Deporte¿ Se puede predecir quién ganará con base a patrones estadísticos?. LCG Gurrola. FINGUACH. Revista de Investigación Científica y Tecnológica de la Facultad.</li>

            <br> <b> <center> 2015 </center></b> <br>
            <li> Location and Activity Detection for Indoor Environments. FM Reyes, LCG Gurrola, HV Estrada. Mexican International Conference on Artificial Intelligence, 574-582</li>
            <li> <span style="color: blue;"> [Journal]. </span> A virtual pebble game to ensemble average graph rigidity. LC González, H Wang, DR Livesay, DJ Jacobs. Algorithms for Molecular Biology.</li>
            <li> Comparación Entre las Diferentes Funciones Objetivo Para Balanceo en el Problema de Ruteo de Vehículos con Balanceo de Rutas. LCG Gurrola, JGL Carballo. FINGUACH. Revista de Investigación Científica de la Facultad de Ingeniería.</li>

            <br> <b> <center> 2014 </center></b> <br>
            <li> PChCT: A Tool to Monitor Child Whereabouts. F Martínez-Reyes, LA Castro, LC González-Gurrola. International Workshop on Ambient Assisted Living, 171-178.</li>
            <li> <span style="color: blue;"> [Journal]. </span> Identifying roadway surface disruptions based on accelerometer patterns. F Martinez, LC Gonzalez, MR Carlos. IEEE Latin America Transactions 12 (3), 455-461.</li>
            <li> Un Algoritmo GRASP para un SBRP Aplicado al Transporte de Personal de una Empresa de Manufactura. LCG Gurrola. FINGUACH. Revista de Investigación Científica de la Facultad de Ingeniería</li>
            <li> SASVi–Sistema de Asistencia y Seguridad Vial. F Martínez, LC González, MR Carlos. Avances en Tecnologías de Información, 51</li>

            <br> <b> <center> 2013 </center></b> <br>
            <li> The citizen road watcher–identifying roadway surface disruptions based on accelerometer patterns. LC González-Gurrola, F Martínez-Reyes, MR Carlos-Loya. Ubiquitous computing and ambient intelligence. Context-awareness and context.</li>
            <li> Tendencias del procesamiento computacional: bioinformática y cómputo ubicuo. LC González-Gurrola, F Martínez-Reyes. Tecnociencia, Chihuahua 7 (1), 1-6.</li>

            <br> <b> <center> 2012 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Calculating ensemble averaged descriptions of protein rigidity without sampling. LC Gonzalez, H Wang, DR Livesay, DJ Jacobs. PLoS One 7 (2), e29176.</li>

            <br> <b> <center> 2011 </center></b> <br>
            <li> Improving protein flexibility predictions by combining statistical sampling with a mean-field virtual pebble game. LC González, DR Livesay, DJ Jacobs. Proceedings of the 2nd ACM Conference on Bioinformatics, Computational .</li>

            <br> <b> <center> 2009 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Molecular diversity of a North Carolina wastewater treatment plant as revealed by pyrosequencing. N Sanapareddy, TJ Hamp, LC Gonzalez, HA Hilger, AA Fodor, SM Clinton. Applied and environmental microbiology 75 (6), 1688-1696.</li>

            <br> <b> <center> 2007 </center></b> <br>
            <li> <span style="color: blue;"> [Journal]. </span> Sequencing by hybridization: an enhanced crossover operator for a hybrid genetic algorithm. CA Brizuela, LC González-Gurrola, A Tchernykh, D Trystram. Journal of Heuristics 13 (3), 209-225.</li>

            <br> <b> <center> 2004 </center></b> <br>
            <li> A genetic algorithm for the shortest common superstring problem. LC González-Gurrola, CA Brizuela, E Gutiérrez. Ibero-American Conference on Artificial Intelligence, 851-860.</li>
            <li> A genetic algorithm for the shortest common superstring problem. LC González, HJ Romero, CA Brizuela. Genetic and Evolutionary Computation Conference, 1305-1306.</li>
            <li> An improved genetic algorithm for the sequencing by hybridization problem. CA Brizuela, LC González, HJ Romero. Workshops on Applications of Evolutionary Computation, 11-20.</li>


        </ol>
        </div>
    
    {{>footer}}    
</body>


</html>