<!DOCTYPE html>

<html>

<head>
    <title> Students</title>
    <link rel="icon" href="./img/mlicon2.png">
    <link rel="stylesheet" href="./css/styles.css"> 

</head>

<body>
        <div class="main-content">

          {{>header}}

            <p style="text-align:justify">
            <img class="portrait other" align="left" src="./img/studentspic.png">
          Through all these years I have had the privilege to work with very talended students. All of them worked on a project
          that ended up being either a thesis or a dissertation (with many of them publishing in Conferences or Journals). Here the list by graduation year.
            </p>
            <p>
            By the way, tell me about your interests, you are more than welcome if you want to join our lab!
            </p>
            <p>
            In this picture three of my masters students received the first prize for winning a Machine Learning hackaton!
            </p>
        <br>
        <ol reversed>
            <b> <center> Students in the lab </center></b>
            <br>
            <li> <span style="color: blue;"> Doctorate. </span> Aarón Heriberto Narvaez Burciaga. Codirector: Dr. José Acosta Cano de los Rios (IT Chihuahua)</li>
            <li> <span style="color: blue;"> Doctorate. </span> [Co-director at the Tijuana Institute of Techonology] Cristian Sandoval Reyes</li>
            <li> <span style="color: blue;"> Doctorate. </span> [Co-director at National Institute of Astrophisycs, Optics and Electronics, INAOE] Marco E. Casavantes Moreno</li>
            <li> <span style="color: green;"> Masters. </span> Jesús Ignacio Rodríguez Sibaja</li>
            <li> <span style="color: green;"> Masters. </span> Marco Antonio Arciba Melendez</li>
            <li> <span style="color: green;"> Masters. </span>  [Co-director at the Center of Research in Mathematics, CIMAT] Diego Moreno</li>
            <li> <span style="color: green;"> Masters. </span>  Alan Hernández Olivero</li>

            <br>

            <b> <center> Graduated by year</center></b>
            <b> <center> 2021 </center></b>
            <br>
            <li> <span style="color: blue;"> Doctorate. </span>Towards New Representations of Documents for Author Profiling in Digital Texts.  (Honorific Mention). Student:  M.I Jesus Roberto López Santillán. Co-director: Dr.  Manuel Móntes y Gómez (INAOE). </li>
            <li> <span style="color: green;"> Masters. </span>Analysis of the Water Distribution Network of Chihuahua City Through Machine Learning. (Special Mention). Student: Eng. Martín Mauricio Alarcón Barraza.   Co-director: Dra. Carmen Julia Navarro Gómez (JMAS). </li>

            <br><b> <center> 2020 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span> Detección de Anomalías en series de tiempo de datos del agua utilizando un enfoque de aprendizaje profundo. Student: Eng. Sergio Alberto Valdés Rabelo.   Co-director: Dr. Miguel Angel Medina Pérez (ITESM-CEM).</li>
            <li> <span style="color: green;"> Masters. </span>  Improving the automatic identification of aggressive comments on social media by incorporating author and message context. Honorific Mention). Student: Eng. Marco Emanuel Casavantes Moreno. Co-director: Dr. Manuel Móntes y Gómez (INAOE).</li>
            <li> <span style="color: green;"> Masters. </span>  Análisis del comportamiento seguro/agresivo del conductor desde una perspectiva de Machine Learning. Student: Eng. Oraldo Jacinto Simón. Co-director: Dr. Alberto González Aguilar (ITESM - Chihuahua).</li>

            <br><b> <center> 2019 </center></b><br>
            <br>
            <li> <span style="color: blue;"> Doctorate. </span> A Machine Learning Approach for Smartphone-Based Sensing of Roads and Driving Style. (Honorific Mention). Student: MSc. Manuel Ricardo Carlos Loya. Co-director:  Dr. Fernando Martínez Reyes (UACh).</li>
            <li> <span style="color: green;"> Masters. </span>  Hacia un nuevo indicador de calidad para soluciones a problemas multi-objetivo por medio de  Programación Genética. Student: Eng. Cristian Sandoval Reyes.  Co-director: Dr. Leonardo Trujillo (Tec Tijuana).</li>
            <li> <span style="color: green;"> Masters. </span>  De vecinos cercanos a fuerzas de atracción - Un nuevo algoritmo de clasificación basado en instancias. (Honorific Mention). Studen: Eng. Juan Antonio Aguilera Balderrama. Co-director: Dr. Manuel Móntes y Gómez (INAOE).</li>
            <li> <span style="color: green;"> Masters. </span>  Un nuevo algoritmo basado en aprendizaje de ensamble para el problema de Detección de Anomalías. (Honorific Mention). Student: Eng. Luis Angel Pereyra Villanueva. Co-director: Dr. Raúl Monroy Borja (ITESM-CEM).</li>


            <br><b> <center> 2018 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span>  Estrategias basadas en Aprendizaje Computacional para detectar depresión en usuarios de redes sociales. Student: Eng. Alan Alexis Farías Anzaldúa.  Co-director: Dr. Manuel Móntes y Gómez (INAOE).</li>
            
            <br><b> <center> 2017 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span> Una estrategia de identificación de Irregularidades en caminos. Student: Eng. Mario Ezra Aragón Saenzpardo. </li>
            <li> <span style="color: green;"> Masters. </span> Algoritmo memético basado en GPU con diversidad y estructura para la inferencia de modelos de redes reguladoras de genes. Student: Eng. Angel Omar Flores Olivas.</li>

            <br><b> <center> 2016 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span> Identificación de patrones para conducción temeraria. (Honorific Mention). Student: Eng. Ramiro Iván Lugo Hernández. </li>
            <li> <span style="color: green;"> Masters. </span> Identificación de Irregularidades del Camino en base a patrones de acelerómetro. (Honorific Mention). Student: Eng. Ricardo Moreno Nieto.</li>
            <li> <span style="color: green;"> Masters. </span> Tratamiento multi-objetivo aplicado al problema de plegamiento de proteínas bajo el modelo HP. Student: Eng. Manuel Servando Flores Chacón.</li>
            <li> <span style="color: green;"> Masters. </span> Una Comparación Estadística de Funciones Objetivo para el problema de Ruteo de Vehículos con Balanceo de Rutas. (Special Mention). Student: Eng. Jairo Gibrán Lozano Carballo.</li>
            <li> <span style="color: green;"> Masters. </span> Predicción de la ubicación final de un automovil por medio de modelos de aprendizaje computacional. Student: Eng. Normando Ali Zubia Hernández.</li>
            <li> <span style="color: green;"> Masters. </span> Cálculo de grados de libertad en modelo de proteínas en entramados, análisis de 2 algoritmo: PG y VPG. Student: Eng. Carlos Licea.</li>

            <br><b> <center> 2015 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span> Modelación por medio de PLE para el problema de VRP de transporte de personal en su versión de cargas mixtas. Student: Eng. Eduardo Aguirre Zuniga.</li>
            <li> <span style="color: green;"> Masters. </span> Predicción de series de tiempo con redes neuronales. Student: Eng. Christopher Demián Gutiérrez Montiel.</li>
            <li> <span style="color: green;"> Masters. </span> Identificación automática de irregularidades en vías de tránsito: Un enfoque de aprendizaje computacional. (Special Mention). Student: Eng. Ricardo Carlos Loya.</li>
            <li> <span style="color: green;"> Masters. </span> Metaheurísticas para el problema de plegamiento de proteínas. Student: Eng. Emmanuel Acosta de León. </li>
            <li> <span style="color: gray;"> Bachelor's. </span> Un algoritmo genético para un problema de rutas de transporte (VRP). Student: Ivan Castorena Escapite.</li>
            <li> <span style="color: gray;"> Bachelor's. </span> Algoritmo GRASP y Path Relinking para un problema de optimización combinatoria en la universidad. Student: Angel Omar Flores Olivas.</li>

            <br><b> <center> 2014 </center></b><br>
            <br>
            <li> <span style="color: gray;"> Bachelor's. </span> Algoritmos de aprendizaje computacional en dispositivos móviles. (Honorific Mention) Student: Ricardo Moreno Nieto. </li>
            <li> <span style="color: gray;"> Bachelor's. </span> Programación genética aplicada a problemas de ingeniería. Student: Manuel Servando Flores Chacón</li>
            <li> <span style="color: gray;"> Bachelor's. </span> Predicción de series de tiempo utilizando redes neuronales. Student: Jesús Manuel Lozano Saucedo.</li>
            <li> <span style="color: gray;"> Bachelor's. </span> Problemario para la clase de optativa II (reconocimiento de patrones) de la carrera de Ingeniería Matemática. Student: Victor Derma Prieto</li>
            
            <br><b> <center> 2013 </center></b><br>
            <br>
            <li> <span style="color: green;"> Masters. </span> Un algoritmo de caminata aleatoria para un problema de calendarización de horarios”. Student: Eng. Fausto Barrera Avila.</li>
            <li> <span style="color: gray;"> Bachelor's. </span> Modelado matemático del problema de transporte de personal en una industria maquiladora. Student: Eduardo Aguirre Zuñiga. Co-director: Dr. José Luis Herrera Aguilar</li>


        </ol>
        </div>

    {{>footer}}
</body>


</html>