
<header>

    <h1> {{title}}</h1>

    <a href= "/" style="font-size: 20px;"> Short bio </a>
    <a href="/publications" style="font-size: 20px;">Publication List</a>
    <a href="/students" style="font-size: 20px;"> Students</a>
    <a href="/others" style="font-size: 20px;"> Others </a>
</header>