
<header>

    <h1> {{title}}</h1>

    <a href= "/"> Short bio </a>
    <a href="/publications">Publication List</a>
    <a href="/students"> Students</a>
    <a href="/others"> Others </a>
</header>